<header class="header">
  <div class="container header-container">
    <a href="index.html" class="logo">
      <img src="static/images/ARTLUMEN.png" alt="ARTLUMEN logo" />
    </a>
    <nav class="nav">
      <a href="/catalog" class="nav-link">Каталог</a>
      <a href="/events" class="nav-link">Мероприятия</a>
      <a href="/cart" class="nav-link" id="cart-link">
        Корзина <span id="cart-count" style="display: none">(0)</span>
      </a>
      <a href="/auth" class="nav-link" id="login-link">Войти</a>
      <a
        href="/profile"
        class="nav-link"
        id="profile-link"
        style="display: none"
        >Профиль</a
      >
    </nav>
  </div>
</header>

<script src="/js/auth.js"></script>
