<header class="header">
  <div class="container header-container">
    <a href="index.html" class="logo">
      <img src="static/svg/main_logo.svg" alt="ARTLUMEN logo" />
    </a>
    <nav class="nav">
      <a href="/catalog" class="nav-link">Каталог</a>
      <a href="#" class="nav-link">Мероприятия</a>
      <a href="/" class="nav-link">Корзина</a>
      <a href="/auth" class="nav-link" id="auth-link" data-auth-element="login"
        >Войти</a
      >
      <a
        href="/profile"
        class="nav-link"
        id="profile-link"
        data-auth-element="profile"
        style="display: none"
        >Профиль</a
      >
    </nav>
  </div>
</header>

<script>
  // Обновляем состояние при загрузке
  const user = JSON.parse(localStorage.getItem("user"));
  const isAuthenticated = !!user;

  const authLink = document.querySelector('[data-auth-element="login"]');
  const profileLink = document.querySelector('[data-auth-element="profile"]');

  if (authLink && profileLink) {
    if (isAuthenticated) {
      authLink.style.display = "none";
      profileLink.style.display = "block";
    } else {
      authLink.style.display = "block";
      profileLink.style.display = "none";
    }
  }
</script>
