<div
  class="gallery-item"
  onclick="openPaintingModal(this)"
  data-painting-id="{{id_p}}"
  style="position: relative"
>
  <span
    class="admin-dots"
    style="
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-size: 24px;
      z-index: 2;
    "
    >&#8942;</span
  >
  <img src="{{image}}" alt="{{title}}" />
  <h3>{{title}}</h3>
  <div class="item-details">
    <p>{{price}} ₽</p>
    <p>{{width}}x{{height}} см</p>
    <p>{{artist_first_name}} {{artist_last_name}}</p>
    <p>{{style}}</p>
    <button class="btn-order add-to-cart-btn" data-painting-id="{{id_p}}">
      Заказать
    </button>
  </div>
</div>
<div
  id="admin-event-modal-{{id_p}}"
  class="admin-event-modal"
  style="display: none"
></div>
